@font-face {
  font-family: "National Park Light";
  src: url("./font/NationalPark-Thin.otf") format("opentype"),
}

@font-face {
  font-family: "National Park Regular";
  src: url("./font//NationalPark-Regular.otf") format("opentype"),
}

@font-face {
  font-family: "National Park Outline";
  src: url("./font/NationalPark-Outline.otf") format("opentype"),
}

@font-face {
  font-family: "National Park Heavy";
  src: url("./font//NationalPark-Heavy.otf") format("opentype"),
}

.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("./media/mtb.jpg");
  background-size: 100vw 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}